html {
	height: 100%;
	width: 100%;
}
body {
	padding-bottom: 10%;
	margin: 0 auto;

}
#body {
	padding-bottom: 70px;
        background-color: #9f8b9f;
	height: 100%;
}

#bottom-navbar {

	text-align: center;
	font-size: 150%;
}
#help {
	text-align: center;
}



#term {
	padding-top: 25%;
	width: 100%;
	position: relative;
}

#term h3 {
	padding-top: 20%;
	position: absolute;
	top: 10%;
	left: 15%;
	width: 100%
}

#term h1 {
	padding-top: 15%;
	position: absolute;
	top: 35%;
	left: 27%;
	width: 100%
}

#app {
	position:relative;
	padding-bottom: 5%;
	padding-top: 5%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 100%;
  border-style: inset;
  border-width: 5px;
  border-radius: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
   width: 100%;
    border-style: inset;
  border-width: 5px;
  border-radius: 10px;

}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
   width: 100%;
    border-style: inset;
  border-width: 5px;
  border-radius: 10px;

}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   border-style: inset;
  border-width: 5px;
  border-radius: 10px;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
   width: 100%;
    border-style: inset;
  border-width: 5px;
  border-radius: 10px;

}

.fa-reddit {
  background: #ff5700;
  color: white;
}

#appMaster {
	font-size: 1.7em;
	padding-top: 6%;

}
#fafa1 {
	position: fixed;
	right: 4%;
	top: 2.3%;
	color: #c0c0c0;
	font-size: 1.7em;
}
#fafa2 {
	visibility: hidden;
}
div.stars {
  padding-bottom: 20%;
  margin-left: 3%;
  width: 270px;
  display: inline-block;

}

#fafa{
	color: #c0c0c0;
	font-size: 1.7em;
}


.stars p {
  padding-top: 5%;
  font-size: 16px;
  font-style: italic;
}
input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}




#term1 {
        padding-top: 30%;
	width: 100%;
	height:78%;
	position: relative;
}

#term1 h3 {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 100%
}

#term1 h1 {
	position: absolute;
	top: 36%;
	left: 10%;
	width: 100%
}

#term1 p {
	position: absolute;
	top: 52%;
	left:10%;
	width: 80%;
}


#origin {
	margin-left: 5%;
}

#other {
	padding-top: 8%;
	margin-left: 5%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #e8dee0;
    color: white;
     padding: 14px 20px;
      margin: 8px 0;
    border: none;
    cursor: pointer;


 }

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #db8c9e;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

#login {
	text-align: center;
	margin-top: 40%;
	background-color: #9f8b9f;

}

#appName {
	padding-bottom: 20%;
	padding-top: 20%;
}


#appHelp {
        padding-bottom: 20%;
        padding-top: 5%;
}
#appName h1 {
	padding-bottom: 3%;
	font-weight: bold;
i}

.termName {
	font-size: 110%;
	font-style: oblique;
	font-weight: bold;
	text-decoration: underline;

}

.glossary h1 {
	padding-bottom: 8%;
	color: #7d3c76;
}

.glossary {
	padding-top: 20%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 10%;
}

#fixed {
	position: fixed;
}

#reset {
    background-color: #e8dee0;
    color: #404040;
     padding: 14px 20px;
      margin: 8px 0;
    border: none;
    cursor: pointer;


 }

 #suggestTerm {
	 padding-top:15%;
	 font-size: 120%;
	 font-style: oblique;

 }

#t {
	padding-bottom: 3%;
	font-weight: bold;
	font-style: normal;

	color: #7d3c76;
}

.listOfApps {
	padding-bottom: 20%;
}

.ghost-button {
	font-size: 150%;
	 font-style: oblique;
	 color: #303030;
	 font-weight: bold;
 }
